<template>
  <div class="browser">
    <v-toolbar
      dense
      flat
    >
      <v-breadcrumbs :items="breadcrumb" />
      <v-spacer />
      <v-btn
        small
        text
        icon
        @click="togglePreview"
      >
        <v-icon v-text="previewIcon" />
      </v-btn>
    </v-toolbar>
    <Multipane
      style="height: 100%;"
      :gutter-size="2"
    >
      <v-list
        flat
        :style="{ borderRadius: 'inherit' }"
      >
        <template v-for="bucket in buckets">
          <v-list-item
            :key="`list-item/${bucket.Key}`"
            color="primary"
            ripple
            @click="selectBucket(bucket.Key)"
          >
            <v-list-item-icon>
              <v-icon v-text="'mdi-checkbox-intermediate'" />
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="bucket.Key" />
            </v-list-item-content>
          </v-list-item>
          <multipane-resizer :key="`multipane-resizer/${bucket.Key}`" />
        </template>
      </v-list>
      <template v-for="prefix in prefixes">
        <multipane-resizer :key="`resizer-${prefix.Key}`" />
        <v-list
          :key="`list/${prefix.Key}`"
          flat
          :style="{ borderRadius: 'inherit' }"
        >
          <template v-for="object in prefix.Objects">
            <v-list-item
              :key="`list-item/${prefix.Key}/${object.Key}`"
              color="primary"
              ripple
              @click="selectObject(object.Key, object.Type, prefix.Position)"
            >
              <v-list-item-icon>
                <v-icon v-if="object.Type === 'dir'" v-text="'mdi-folder'" />
                <v-icon v-else v-text="'mdi-file'" />
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="object.Key" />
              </v-list-item-content>
            </v-list-item>
            <multipane-resizer :key="`multipane-resizer/${prefix.Key}/${object.Key}`" />
          </template>
          <v-btn
            :key="`append-btn/${prefix.Key}`"
            :disabled="!prefix.IsTruncated"
            @click="appendObject(prefix.Key, prefix.NextContinuationToken, prefix.Position - 1)"
          >
            Load more objects
          </v-btn>
        </v-list>
      </template>
      <template v-if="previewFlag">
        <multipane-resizer />
        <span class="preview">
          <h3>Preview</h3>
          <ul v-if="typeof previewObject !== 'undefined'">
            <li><b>Path:</b> {{ preview.Path }}</li>
            <li><b>Type:</b> {{ preview.Type }}</li>
            <li><b>LastModified:</b> {{ preview.LastModified }}</li>
            <li><b>Size:</b> {{ preview.Size }}</li>
            <li><b>Owner:</b> {{ preview.Owner }}</li>
          </ul>
        </span>
      </template>
    </Multipane>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex';
import { Multipane, MultipaneResizer } from 'vue-multipane';

export default {
  components: {
    Multipane,
    MultipaneResizer,
  },
  props: {
    panes: {
      type: Number,
      default: 2,
    },
    type: {
      type: String,
      default: 'file',
    },
  },
  data() {
    return {
      selectedIndex: null,
      previewFlag: false,
      previewObject: undefined,
    };
  },
  computed: {
    ...mapState('BucketBrowser', {
      buckets: 'bucketSet',
      prefix: 'prefix',
      selectedBucket: 'selectedBucket',
    }),
    ...mapGetters('BucketBrowser', {
      breadcrumb: 'getBreadcrumb',
      prefixes: 'getBucketPrefixesPopulated',
    }),
    previewIcon() {
      return (this.previewFlag) ? 'mdi-file-find' : 'mdi-file-find-outline';
    },
    // preview() {
    //   const {
    //     Path = '',
    //     Key = '',
    //     Size = 0,
    //     Owner = {},
    //     Type,
    //     LastModified,
    //   } = this.previewObject;
    //   const getSize = (s) => {
    //     if (s < 1000) {
    //       return `${s} B`;
    //     } else if (s >= 1000 && s < 1e+6) {
    //       return `${(s / 1000).toFixed(1)} KB`;
    //     } else if (s >= 1e+6 && s < 1e+9) {
    //       return `${(s / 1e+6).toFixed(1)} MB`;
    //     } else if (s >= 1e+9 && s < 1e+12) {
    //       return `${(s / 1e+9).toFixed(1)} GB`;
    //     } else if (s >= 1e+12 && s < 1e+15) {
    //       return `${(s / 1e+12).toFixed(1)} TB`;
    //     } else if (s >= 1e+15) {
    //       return `${(s / 1e+15).toFixed(1)} PB`;
    //     }
    //     return '0';
    //   };
    //   return {
    //     Path: `${Path}${Key}`,
    //     Size: getSize(Size),
    //     Owner: Owner.DisplayName || 'Unknown',
    //     Type: Type.toUpperCase(),
    //     LastModified,
    //   };
    // },
  },
  created() {
    this.listBuckets();
  },
  methods: {
    ...mapActions('BucketBrowser', [
      'listBuckets',
      'listObjects',
    ]),
    ...mapMutations('BucketBrowser', [
      'setSelectedBucket',
      'setPrefixes',
    ]),
    selectBucket(Key) {
      this.setPrefixes([]);
      this.listObjects({ params: { Bucket: Key }, Position: 0 });
    },
    selectObject(Key, Type, Position) {
      if (Type === 'dir') {
        return this.listObjects({ params: { Bucket: this.selectedBucket, Prefix: Key }, Position });
      }
    },
    togglePreview() {
      this.previewFlag = !this.previewFlag;
    },
    addBucket() {
      this.$store.commit('BucketBrowser/addBucket', this.newBucket);
    },
    appendObject(Prefix, ContinuationToken, Position) {
      return this.listObjects({ params: { Bucket: this.selectedBucket, Prefix, ContinuationToken }, Position });
    },
  },
};
</script>

<style>
.layout-v > .multipane-resizer {
  width: 2px;
  height: auto;
  margin-left: 0px;
  left: 0px;
  cursor: col-resize;
  background: rgba(255, 255, 255, 0.7);
}
.layout-v > .multipane-resizer::before {
  height: 100%;
}
.theme--light .layout-v > .multipane-resizer {
  background: rgba(0, 0, 0, 0.42);
}
.v-toolbar {
  transition: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
</style>

<style scoped>
.browser {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.theme--light .browser {
  border-color: rgba(0, 0, 0, 0.42);
}

.browser .layout-v {
    border-radius: inherit;
}
.browser .layout-v > .v-list:last-of-type {
  flex-grow:1;
}

.v-toolbar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.theme--light .v-toolbar  {
  border-color: rgba(0, 0, 0, 0.42);
}
</style>
