<template>
  <v-card class="mt-6 px-2" :loading="loading">
    <v-card-title class="px-4 pt-4 pb-0 sub-title flex-column justify-start align-start flex-sm-row justify-sm-center align-sm-center">
      <v-layout class="align-center">
        Pipelines
        <v-menu
          offset-x
          :nudge-right="5"
          :nudge-top="10"
          transition="slide-x-reverse-transition"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              class="ml-2"
              icon
              small
              v-on="on"
            >
              <v-icon>mdi-settings</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="setSelection('New')">
              <v-list-item-action-text class="pr-2">
                <v-icon color="primary">
                  mdi-plus
                </v-icon>
              </v-list-item-action-text>
              <v-list-item-content>
                <v-list-item-title>Install Pipeline</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-scroll-x-reverse-transition>
          <span
            v-show="installTooltip"
            class="v-tooltip__content primary relative ml-2"
          >
            <!-- v-tooltip was being buggy so im cheating -->
            Click the cog to install a pipeline.
          </span>
        </v-scroll-x-reverse-transition>
      </v-layout>
      <v-spacer />
      <v-combobox
        v-model="selection"
        :items="pipelines"
        class="search"
        label="Select a pipeline to run"
        color="primary"
        clearable
      />
    </v-card-title>
    <v-expand-transition>
      <template v-show="showInputs">
        <template v-if="isNew">
          <v-card-text>
            <v-text-field
              v-model="name"
              :error="nameTaken"
              :error-messages="nameTakenMessage"
              clearable
              autofocus
              rows="1"
              label="Pipeline Name"
              hint="Names must be unquie"
              prepend-icon="mdi-label-outline"
            />
            <v-file-input
              v-model="config"
              clearable
              show-size
              accept=".yaml"
              label="A pipeline config"
              hint=".yaml only"
            />
            <v-card-actions>
              <v-spacer />
              <v-btn
                :disabled="disableUpload"
                large
                color="primary"
                @click="upload"
              >
                upload
                <v-icon>mdi-upload</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card-text>
        </template>
        <template v-else-if="showInputs">
          <v-card-text>
            <v-text-field
              v-model="job"
              clearable
              autofocus
              rows="1"
              label="Job Name"
            />
            <input-control
              v-for="input in pipeline.inputs"
              :key="input.name"
              :name="input.name"
              :label="input.label"
              :type="input.type"
              :required="input.required || false"
              :value="input.value"
              :items="input.items"
              @input="setInput({ name: input.name, value: $event })"
            />
            <v-card-actions>
              <v-spacer />
              <v-btn
                :disabled="disableSubmit"
                large
                color="primary"
                @click="run"
              >
                Submit
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card-text>
        </template>
      </template>
    </v-expand-transition>
    <v-card-actions />
  </v-card>
</template>

<script>
import { mapActions, mapState, mapGetters, mapMutations } from 'vuex';

export default {
  components: {
    InputControl: () => import('~/components/InputControl'),
  },
  computed: {
    ...mapState('Pipeline', [
      'loading',
    ]),
    ...mapGetters('Pipeline', [
      'pipeline',
      'jobs',
    ]),
    pipelines() {
      return this.$store.state.Pipeline.pipelines.map(({ name }) => name);
    },
    selection: {
      get() {
        return this.$store.state.Pipeline.selection;
      },
      set(value) {
        this.setSelection(value);
      },
    },
    showInputs() {
      return (this.selection);
    },
    isNew() {
      return (this.selection === 'New');
    },
    nameTaken() {
      return this.pipelines.includes(this.name);
    },
    nameTakenMessage() {
      return (this.nameTaken) ? 'That name is already in use.' : undefined;
    },
    name: {
      get() {
        return this.$store.state.Pipeline.name;
      },
      set(value) {
        this.setName(value);
      },
    },
    job: {
      get() {
        return this.pipeline.job;
      },
      set(value) {
        this.setJob(value);
      },
    },
    config: {
      get() {
        return this.$store.state.Pipeline.config;
      },
      set(value) {
        this.setConfig(value);
      },
    },
    disableUpload() {
      return (
        typeof this.name === 'undefined' ||
        this.name === '' ||
        typeof this.config === 'undefined' ||
        this.config === null
      );
    },
    disableSubmit() {
      return (
        !this.pipeline ||
        !this.pipeline.job ||
        this.pipeline.inputs
          .filter((input) => input.required)
          .every((input) => !(input.value || input.value === 0))
      );
    },
    installTooltip() {
      return (
        !this.loading &&
        this.pipelines.length <= 0 &&
        !this.selection
      );
    },
  },
  created() {
    // fetch all pipelines
    this.getPipelines();
  },
  methods: {
    ...mapActions('Pipeline', [
      'getPipelines',
      'setPipeline',
      'runPipeline',
    ]),
    ...mapActions('Job', [
      'getJobs',
    ]),
    ...mapMutations('Pipeline', [
      'setJob',
      'setConfig',
      'setName',
      'setSelection',
      'setInput',
    ]),
    upload(event) {
      if (typeof this.config === 'undefined' || this.config === null) {
        return;
      }
      const reader = new FileReader();
      reader.onload = this.onReaderLoad;
      reader.readAsText(this.config);
    },
    onReaderLoad(event) {
      this.setPipeline({ name: this.name, config: event.target.result });
    },
    async run() {
      await this.runPipeline();
      this.setSelection(undefined);
      await this.getJobs();
    },
  },
};
</script>

<style scoped>
.pipelines {
  max-height: calc(88vh - 112px);
  overflow: auto;
}
.search{
  max-width: 500px;
}
.relative {
  position: relative;
}
</style>
